In [8]:
import numpy as np
import pandas as pd

def print_dp(matrix, source, target):
    df = pd.DataFrame(matrix, index=list('#'+source), columns=list('#'+target))
    display(df)

# Min Edit Distance

In [18]:
def min_edit_distance(source, target, ins_cost = 1, del_cost = 1, rep_cost = 2, verbose=True):
    '''
    Input: 
        source: a string corresponding to the string you are starting with
        target: a string corresponding to the string you want to end with
        ins_cost: an integer setting the insert cost
        del_cost: an integer setting the delete cost
        rep_cost: an integer setting the replace cost
    Output:
        D: a matrix of len(source)+1 by len(target)+1 containing minimum edit distances
        med: the minimum edit distance (med) required to convert the source string to the target
    '''
    m = len(source) 
    n = len(target)
    # Initialize DP matrices with dimensions (m+1,n+1) 
    D = np.zeros((m+1, n+1), dtype=int)
    BT = np.zeros((m+1, n+1), dtype=str)
        
    # Fill in slots at column 0 and row 0
    for row in range(1,m+1):
        D[row,0] = row*del_cost
        BT[row,0] = '⬆️'
    for col in range(1,n+1):
        D[0,col] = col*ins_cost
        BT[0,col] = '⬅️'
        
    for row in range(1,m+1):
        for col in range(1,n+1):
            
            # Intialize r_cost to the 'replace' cost that is passed into this function
            r_cost = rep_cost
            
            # Check if source char at previous row matches target char at previous col 
            if source[row-1]==target[col-1]:
                # Update replacement cost to 0 if source and target are the same
                r_cost = 0
                
            # Update cost at row, col based on previous entries in the cost matrix
            i_choice = D[row][col-1]+ins_cost
            d_choice = D[row-1][col]+del_cost
            r_choice = D[row-1][col-1]+r_cost
            min_cost = min([i_choice, d_choice, r_choice])

            D[row,col] = min_cost
            BT[row,col] = '↖️' if r_choice==min_cost else '⬆️' if d_choice==min_cost else '⬅️'
            
    # Set minimum edit distance as cost at row m, column n 
    med = D[m][n]
    
    if verbose:
        print_dp(D, source=source, target=target)
        print()
        print_dp(BT, source=source, target=target)

    return D, BT, med

In [22]:
source = 'mourn'
target = 'moron'
D, BT, med = min_edit_distance(source=source, target=target)

   #  m  o  r  o  n
#  0  1  2  3  4  5
m  1  0  1  2  3  4
o  2  1  0  1  2  3
u  3  2  1  2  3  4
r  4  3  2  1  2  3
n  5  4  3  2  3  2

   #  m  o  r  o  n
#     ⬅  ⬅  ⬅  ⬅  ⬅
m  ⬆  ↖  ⬅  ⬅  ⬅  ⬅
o  ⬆  ⬆  ↖  ⬅  ↖  ⬅
u  ⬆  ⬆  ⬆  ↖  ↖  ↖
r  ⬆  ⬆  ⬆  ↖  ⬅  ⬅
n  ⬆  ⬆  ⬆  ⬆  ↖  ↖

# Backtrace
Start by reading from bottom rigtht of BT matrix
1. ↖️ means replace source char with target char 
2. ⬆️ means delete source char
3. ⬅️ means insert target char